p {
  color: white;
  width: 500px;
  border: 1px solid black;
  font-family: Courier New, monospace;
  background: #3f7ab5;
  <p> style="font-weight:bold">
  Mes centres d'intérêts sont:
</p>
}